{% extends './base.html' %}

{% block content %}
    <div class="simple_page_wrapper">
        <div class="nice__title__left">
            О Нас
        </div>
        <div class="pdt10 fs20">
        Мотив нашей работы – довольные клиенты! Мы не продаем дешевые запчасти, мы предлагаем оригинальное качество по хорошей цене! 
        </div>
        <div class="pdt5 fs20">
        «Автомотив» – это не только сайт автозапчастей, но и полноценный офлайн-магазин запчастей в Симферополе для иномарок, китайских автомобилей и авто отечественных производителей. Если вы привыкли выбирать запчасти «вживую» и советоваться с невиртуальными продавцами – можете приехать по этому адресу. Узнать о наличии деталей и дополнительную информацию всегда можно по телефону.  
        </div>
        <div class="pdt5 fs20">
        Если вы не из Симферополя или предпочитаете совершать именно онлайн-покупки, добро пожаловать в наш каталог запчастей. Кроме них, на нашем сайте вы найдете качественные машинные масла, всевозможную автохимию и множество аксессуаров для автомобиля: коврики, дефлекторы, стеклоочистители, чехлы, защиту картера, КПП и многое другое. 
        </div>
    </div>
{% endblock content %}