{% extends './base.html' %}

{% block content %}
    <div class="simple_page_wrapper">
        <div class="nice__title__left">
            Контакты 
        </div>
        <div class="pdt10 fs20">
            Адрес магазина: Республика Крым, г. Симферополь, ул. Киевская, 133, оф. 3.
        </div>
        <div class="pdt10 fs20">
            Время работы: пн-пт с 09-00 до 19-00, сб с 10-00 до 15-00, вс выходной.
        </div>
        <div class="pdt10 fs20">
            Контактный телефон: 
            <a href="tel:+79788679767">
            8 (978)867-97-67.
            </a>
        </div>
    </div>
{% endblock content %}