{% extends './base.html' %}

{% block content %}
    <div class="simple_page_wrapper">
        <div class="nice__title__left">
            Доставка и оплата
        </div>
        <div class="pdt10 nice__title__left">
            Заказ и доставка товаров
        </div>
        <div class="pdt10 fs20">
            Для того, чтобы совершить покупку, необходимо зайти на наш сайт, найти необходимый товар, добавить его в корзину и оформить заказ. Жители г. Симферополя могут забрать купленные автозапчасти, аксессуары и другие товары посредством самовывоза из магазина, путем доставки нашим курьером (при сумме заказа от 3000 руб.), а покупатели из других городов и регионов — оформить доставку транспортной компанией по выгодной цене.
        </div>
        <div class="pdt5 fs20">
            При необходимости наши консультанты проведут дополнительную проверку на соответствие купленного товара Вашему автомобилю. 
        </div>
        <div class="pdt5 fs20">
            Задать интересующие вопросы можно по номеру +7(978) 867-97-67, а также онлайн-консультанту на сайте. Желаем Вам приятных покупок!
        </div>
        <div class="pdt10 nice__title__left">
            Способы оплаты
        </div>
        <div class="pdt5 fs20">
            Для вашего удобства мы пользуемся различными системами оплаты заказов:
        </div>
        <ol class="pdt5 fs20">
            <li>
                Наличный и безналичный расчет у нас в магазине.
            </li>
            <li>
                Оплата банковской картой на сайте.
            </li>
            <li>
                Оплата наличными курьеру.
            </li>
        </ol>
    </div>
{% endblock content %}