{% extends './base.html' %}

    {% block content %}

      <div class="container">
        <div class="row">

            <div class="block_cars_main">
                <div class="cars_gen">
                    <div>
                        <div class="mar__panel__title">
                            Лампы для 
                            <span class="active">
                                {{selected_mark}} {{selected_model}}
                            </span>
                    </div>
                    </div>
                    <div class="mark__panel__choose__title">
                        Выберите поколение
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled car__marks__container__wrapper">
                            {% for car in gen %}
                            <div>
                            <a href="{% url 'lamp:gen' car.mark car.model car.gen %}">
                            <div class="car_link_page">
                                <img src="{{car.gen_img}}" alt="">
                            {{car.gen}}</div>
                            </a>
                            </div>
                            {% endfor %}
                        </ul> 
                    </div>
                </div>
            </div>

    {% endblock content %}
    
