{% extends "../lamp/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">

                <div class="block_filter block_cars_main">
                    <div class="panel-heading">
                        <div class="mar__panel__title">Дворники для 
                            <span class="active">{{selected_mark.name}}
                            </span>
                    </div>
                        <div class="mark__panel__choose__title">
                            Выберите модель авто
                        </div>
                    </div>
                    <div class="">
                        <ul class="list-unstyled car__marks__container__wrapper">
                            {% for model in models %}
                            <li>
                                <a href="{% url 'dvorniki:model' selected_mark.id model.id %}">
                                <p class="car_link_page"
                                >{{model.name}}</p>
                                </a>
                            </li>
                            {% endfor %} 
                        </ul> 
                    </div>
                </div>


    {% endblock content %}
  