<div class="container__podbor">
    <div class="row">

        <div class="">
            <div class="cars__container">
                <div class="car__title__container">
                <span class="car__title">Подбор дворников <span class="active">по авто</span>
                </span>
                </div>
                <div class="panel-body">
                    <ul class="car__select">
                        {% for mark in marks %}
                            <li>
                                <a class="car_link__choose" 
                                href="{% url 'dvorniki:mark' mark.id %}">
                                    {{mark}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul> 
                </div>

            </div>

        </div>